#content {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.entry {
    background-color: #222;
    width: auto;
    height: 150px;
    color: #808080;
    padding: 15px;
    margin: 15px;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 12px #000000;
    text-overflow: ellipsis;
}

.entry:nth-of-type(2n) {
    background-color: rgb(57, 57, 57);
}

.entry button {
    background-color: darkgray;
    float: right;
    border-radius: 28px;
    margin-right: 10px;
}

a:link {
    text-decoration: none;
    color: #808080;
}

a:visited {
    color: #808080;
    text-decoration: none;
}

a:hover {
    color: #696b5a;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.imgprev {
    max-height: 140px;
    max-width: calc(100%/3);
    float: right;

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.imgprev:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#menu {
    position: fixed;
    margin-top: 10px;
}

select {
    margin-top: 20px;
}


@media print {
    button {
        visibility: hidden;
    }
}